@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Momo+Trust+Display&display=swap');
@import 'tailwindcss';
@import '@heroui/styles';

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  color: #fff;
  background-color: rgb(27, 135, 243);
}

:root {
  --active-color: #ffa500;

  --white-color: #fff;
  --black-color: #000;
}

body {
  scrollbar-width: thin;
  font-family: 'Heebo', sans-serif;
}
