.layout {
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  background-color: var(--color-bg-layout);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: var(--color-text-light);

  height: 64px;
  padding-inline: 48px;
  line-height: 64px;

  background-color: var(--color-bg-header);

  @media (max-width: 768px) {
    padding-inline: 24px;
  }

  @media (max-width: 576px) {
    padding-inline: 18px;
  }
}

.content {
  color: var(--color-text);
  min-height: calc(100vh - 64px);
  background-color: var(--color-bg-layout);
}

.footer {
  color: var(--color-text);
  text-align: center;
  border: 1px solid var(--color-border);
  background-color: var(--color-bg-footer);
}
